{% extends "base.njk" %}

{% block content %}
  <section class="cover imagebg text-center height-90" data-overlay="3">
    <div class="background-image-holder">
      <img alt="background" src="/assets/img/02-1920x1080.jpg">
    </div>
    <div class="container pos-vertical-center">
      <div class="row">
        <div class="col-md-8 col-lg-7">
          <img src="/assets/img/79heighteasyhrlogo.png">
          <p class="lead"> Premium Human Resource Software. </p>
          <a href="https://easyhrworld.com" target="_blank" class="btn btn--primary type--uppercase">Learn More</a>
        </div>
      </div>
    </div>
  </section>
  <section class="text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-8">
          <h1>We create HR Solutions with Love</i>
          </h1>
          <p class="lead"> We build products that respect your time and money and make life easy for you.
so we bring EasyHR, a premium Human Resources Management Software. </p>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="feature">
            <h3>Easy to use</h3>
            <p> We design with the user in mind to enjoy the clean look. Feeling at home with backend, being an artist with frontend. </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="feature">
            <h3>Unique Design</h3>
            <p> Web design encompasses many different skills and disciplines in the production and maintenance of websites. </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="feature">
            <h3>What We Provide</h3>
            <p> Our products offers a wide range of cost-effective solutions and services that are simple to set up, easy to use and efficient to administer. </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="text-center imagebg parallax" data-overlay="4">
    <div class="background-image-holder">
      <img alt="background" src="/assets/img/slider-fullscreen-slide-1-1920x1280.jpg">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-8">
          <a name="company"></a>
          <h1>WE ARE STREET LIGHT SOFTWARE</h1>
          <hr/>
          <p class="lead"> A passion for software development, a desire to provide simple, easy-to-use SaaS based products over several domains and the zeal to prove ourselves time & again is the guiding force behind Street Light Software. We absolutely love what we do, and this makes our journey even more satisfying. </p>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="feature feature-5 boxed boxed--lg boxed--border">
            <i class="icon icon-Pantone icon--lg"></i>
            <div class="feature__body">
              <h5>Who are we?</h5>
              <p> We are up &amp; coming Software Company with key resources having over 11 years of hands-on experience in IT, software & application development, product integration & start-up operations. Based out of Mumbai, the Street Light Software team comprises of a group of highly qualified, trained and experienced individuals in the field of IT & Software Development. </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="feature feature--featured feature-5 boxed boxed--lg boxed--border">
            <i class="icon icon-Fingerprint icon--lg"></i>
            <div class="feature__body">
              <h5>What We Do?</h5>
              <p> We know what it takes to build a software application that is collaborative, cost effective, useful & transparent. This understanding coupled with knowledge of the various tools of software development has led us to venture into the swiftly emerging arena of SaaS. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="text-center bg--dark">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10">
          <div class="slider" data-paging="true">
            <ul class="slides">
              <li>
                <div class="testimonial">
                  <blockquote> “True to its name Easy HR has completely eased our HR and related process along with accurate accountability from individuals in our system. We see it being the future for HR related services as it easily adapts itself to all organisation setups; large and small. Providing true access to every employee through the app makes reporting and approval system a seamless mechanism where distance and time are no barrier making work life truly EASY.” </blockquote>
                  <h5>Ketan Kadam </h5>
                  <span>CEO - Impresa Hospitality Management Pvt. Ltd.</span>
                </div>
              </li>
              <li>
                <div class="testimonial">
                  <blockquote> “EasyHR has some excellent features for generating various MIS reports w.r.t. Attendance, Recruitments, Payroll, Travel Management, etc on the tip of your finger that make it competent to gauge cost benefits and ROI at org level. Employees have found it to be visually attractive and user friendly to access for their daily operations and orientations allied to HR admin.” </blockquote>
                  <h5>Ami Lengade</h5>
                  <span>Manager HR - Covacsis Technologies Pvt. Ltd.</span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="text-center">
    <a name="team"></a>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="feature feature-8">
            <img alt="Image" src="/assets/img/kanhai-chhugani.jpg" class="rounded-circle">
            <h5>Kanhai Chhugani</h5>
            <span>Founder &amp; CEO</span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="feature feature-8">
            <img alt="Image" src="/assets/img/hiten-dedhia.jpg" class="rounded-circle">
            <h5>Hiten Dedhia</h5>
            <span>Lead Developer</span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="feature feature-8">
            <img alt="Image" src="/assets/img/vinod-rawat.jpg" class="rounded-circle">
            <h5>Vinod Rawat</h5>
            <span>Sr. Developer</span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="feature feature-8">
            <img alt="Image" src="/assets/img/12742026_10153915982912594_7350623216830476633_n-600x600.jpg" class="rounded-circle">
            <h5>Geeta Chhugani</h5>
            <span>Director</span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="feature feature-8">
            <img alt="Image" src="/assets/img/shripal-shah-600x600.jpeg" class="rounded-circle">
            <h5>Shripal Shah</h5>
            <span>VP - Sales &amp; Marketing</span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="feature feature-8">
            <img alt="Image" src="/assets/img/IMG-20160926-WA0009.jpg" class="rounded-circle">
            <h5>Smruti Mondkar</h5>
            <span>Testing &amp; Support</span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="switchable switchable--switch">
  <a name="contact"></a>
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-6 col-md-7 col-12">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3769.6837820699334!2d72.92214767598247!3d19.121523482092485!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c7d2dfefb86d%3A0x9153032cdd75d0a1!2sEasy%20HR!5e0!3m2!1sen!2sin!4v1727938696156!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col-lg-5 col-md-5">
          <div class="switchable__text">
            <h3>C-319,Kailash Esplanade, LBS Marg,<br> Ghatkopar (West), Mumbai – 400086</h3>
            <p class="lead"> E: <a href="#">info (at) streetlightsoftware.com</a><br> P: +91 98201 46 196 </p>
            <p class="lead"> Give us a call or drop by anytime, we endeavour to answer all enquiries within 24 hours on business days. </p>
            <p class="lead"> We are open from 9am — 6pm week days. </p>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}